{
  email {$CADDY_EMAIL}
}

www.marginlift.ir {
  redir https://marginlift.ir{uri} permanent
}

marginlift.ir {
  encode gzip
  reverse_proxy marginlift-production-app:3000
}

staging.marginlift.ir {
  encode gzip
  header X-Robots-Tag "noindex, nofollow, noarchive"
  reverse_proxy marginlift-staging-app:3000
}
